.navbar-toglerr{
    background-color: gray;
}

.nav-item:hover a{
   
    color: #c1c1c1 !important;

}


.banner{
    
    background-image: url(./img/banner.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon{
    background-color: red;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    color: white;
  
}